body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

#page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  font-family: 'Mulish', sans-serif;
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #1F1534
}

ul li a:hover {
  font-weight: bold;
}

h1 {
  color: #1F1534;
  font-size: 49px;
  line-height: 56px;
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main img {
  max-width: 500px;
}

span {
  font-weight: bold;
  color: #89CC9C;
}

section p {
  margin:40px 0;
  font-size: 14px;
  line-height: 28px;
  color: #7D7987
}

button {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  
  background-color: #89CC9C;
  border: none;
  padding: 14px 32px 15px;
  border-radius: 4px;

  cursor: pointer;
}

button:hover {
  background-color: #7DBE8C;
}


footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 45px;
}

footer a {
  text-decoration: none;
  color: #89CC9C;
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}